.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d0d0d0;
}

.task section {
  display: flex;
  align-items: center;
  gap: 10px;
}

span {
  cursor: pointer;
}
